POSTGRES_USER=your_value
POSTGRES_PASSWORD=your_value
POSTGRES_DB=your_value

MYSQL_ROOT_PASSWORD=your_value
MYSQL_USER=your_value
MYSQL_PASSWORD=your_value
MYSQL_DATABASE=your_value

AIRFLOW_DB_CONN=postgresql+psycopg2://user:password@postgres/dbname
AIRFLOW_ADMIN_USERNAME=your_value
AIRFLOW_ADMIN_PASSWORD=your_value
AIRFLOW_ADMIN_EMAIL=your_value@example.com